.button {
  border: none;
  padding: 0;
  width: 52px;
  height: 45px;
  outline: none;
  margin: 4px;
  background-color: #333;
  background-image: linear-gradient(to bottom, #333, #555);
  color: white;
  font-size: 30px;
  border-radius: 8px 8px 14px 14px;
  box-shadow: inset 0 1px 0 1px #888, inset 0 0 3px 2px #222;
  cursor: pointer;
}

/**
 * States
 */
.button:hover {
  background-color: #555;
  background-image: none;
}

.button:active {
  background-color: #333;
  background-image: none;
}

/**
 * Size modifier
 */
.button--small {
  height: 35px;
  font-size: 20px;
}

.button--big {
  height: 98px;
}

/**
 * Type modifier
 */
.button--clear,
.button--clearAll {
  background-color: #a8415f;
  background-image: linear-gradient(to bottom, #a8415f, #a75c75);
}

.button--clear:hover,
.button--clearAll:hover {
  background-color: #a75c75;
}

.button--clear:active,
.button--clearAll:active {
  background-color: #a33958;
}

.button--clearAll {
  border-left: 6px solid #555;
  border-right: 6px solid #555;
  position: relative;
  font-size: 22px;
}

.button--clearAll::after {
  content: 'ON';
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 11px;
  color: #222;
}

/* Memory buttons */
.button--clearMemory,
.button--recallMemory,
.button--addToMemory {
  font-size: 22px;
}

.button--operator,
.button--plusNegative {
  font-size: 28px;
}
