.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 15px;
  align-items: center;
}

.header__logo {
  width: 80px;
}

.header__logo path {
  fill: grey;
}

.header__panel {
  width: 145px;
  height: 45px;
  background-color: black;
  border-radius: 8px;
  border: 4px solid grey;
  position: relative;
}

.header__panel::after {
  content: 'TWO WAY POWER';
  position: absolute;
  bottom: -15px;
  font-size: 9px;
  text-align: center;
  left: 0;
  right: 0;
  font-weight: bold;
  letter-spacing: .1em;
  transform: scale(1, .7);
}
