.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 15px;
}

.header__logo {
  background-color: yellow;
  width: 90px;
  height: 20px;
}

.header__panel {
  width: 145px;
  height: 50px;
  background-color: black;
  border-radius: 5px;
  border: 5px solid blue;
  position: relative;
}

.header__panel::after {
  content: 'TWO WAY POWER';
  position: absolute;
  bottom: -18px;
  font-size: 9px;
  text-align: center;
  left: 0;
  right: 0;
}
